<div class="container p-2">
    <div class="form-check content pt-5" *ngFor="let item of listCategories">
        <label class="form-check-label" for="checkbox1">
            <input type="checkbox" id="checkbox1" [value]="item" (change)="onCheckboxChange(item)" />
            {{item}}
        </label>
    </div>
</div>

<!-- <div> -->
    <!-- <div class="p-5">
        <label class="a-checkbox flex has-slot" for="checkbox202937">
            <input tabindex="3" id="checkbox202937" type="checkbox">
            <span class="a-checkbox__checkbox">
                <svg focusable="false" viewBox="0 0 24 24" class="a-checkbox__checkmark">
                    <path d="M4.1,12.7 9,17.6 20.3,6.3"></path>
                </svg>
            </span>نمایش بلیط‌های تکراری</label> -->


    <!-- <input type="checkbox" [value]="web.id" (change)="onCheckboxChange($event)" />
    {{web.name}} -->