<div class="container ">
    <div class="category-section style-section">
        <div class="form-check content pt-3" *ngFor="let item of listCategories">
            <label class="form-check-label" for="checkbox1">
                <input class="form-check-input" type="checkbox" [value]="item" (change)="onCategoryChecked(item)" />
                <span class="p-2"> {{item}}</span>
            </label>
        </div>
    </div>
    <div class="rangePrice style-section">
        <label for="customRange" class="form-label">price range</label>
        <input 
            type="range" 
            class="form-range" 
            [min]="minPrice" 
            [max]="maxPrice" 
            id="customRange"
            [(ngModel)]="rangePriceValue" 
            (ngModelChange)="changedRangePrice()" 
        >
        <div class="price">
            <span>{{minPrice}}</span>
            <span class="valueRange" >{{rangePriceValue}}</span>
            <span>{{maxPrice}}</span>
        </div>
    </div>
    <div class="availableProducts style-section">
        <label for="availableProduct" class="form-label px-2">available products</label>
        <input 
            class="form-check-input" 
            type="checkbox" 
            [(ngModel)]="products"
            (ngModelChange)="selectProducts($event)" 
        >
    </div>

</div>
            <!-- [checked]="infoperson.isactive" -->