@import "../../../../assets/styles/custom-kit/variable.scss";

.container {
    background-color: $gray-100;
    min-height: 530px;
    padding: 10px 0 10px 0;
}

label,
input {
    color: $white;
}
.style-section {
    border-color: white;
    border-bottom: 1px solid white;
    padding: 10px 10px 30px 20px;
}
#customRange {
    color: $gray-40;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -13px;
    span {
        color: $gray-40;
    }
    .valueRange{
        color: $red-50;
    }
}
