<div class="container-fluid p-0">

    <div class="row header d-flex align-content-center">
        <div class="col-md-6"></div>
        <div class="col-md-6 search ">
            <app-search-box (keyupChange)="onKeyup($event)" [placeHolder]="'type title'" [size]="'small'">
            </app-search-box>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 sidebar ">
            <app-sidebar 
                (categorySelected)="isClickOnCategory($event)" 
                (rangePriceSelected)="handleRangePrice($event)" 
                [minPrice]="minPrice" 
                [maxPrice]="maxPrice" >
            </app-sidebar>
        </div>
        <div class=" col-md-9 content">
            <div class="row sort-section pt-1 d-flex">
                <div class="col-md-2">
                    <label class="form-check-label p-1" for="expensive">
                        <span>sorting</span>
                    </label>
                </div>
                <div class="col-md-10 options rounded-3">
                    <button class="button-Rprimary button-sm-0 mt-2" (click)="sortByPrice(SortPrice.asc)"> cheapest </button>
                    <button class="button-Rprimary button-sm-0 mt-2" (click)="sortByPrice(SortPrice.desc)"> expensive </button>
                    <button class="button-Rprimary button-sm-0 mt-2" (click)="sortByPrice(clearSort)"> clear sort </button>
                </div>
            </div>
            <div *ngIf="resualt then resualtProducts " class="row resualt"></div>
            <ng-template #resualtProducts>
                <div class="row store-view ">
                    <div *ngFor="let product of productsList " class="col mb-5">
                        <!-- slice: (currentPage-1) * elementPerpage : (currentPage-1) * elementPerpage + elementPerpage -->
                        <div class="card h-100 align-products-center">
                            <div class="img-section">
                                <img class="card-img-top" [src]="product.image" width="40px" alt="...">
                            </div>
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <div class="title-product">
                                        <h4 class="fw-bolder">{{product.title}}</h4>
                                    </div>
                                    <h5 class="currency-section">{{product.price|currency:'$'}} </h5>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="button-yellow button-sm-2 mt-auto"
                                        [routerLink]="'../details/' + product.id">مشخصات کالا</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div *ngIf="!resualt && SearchDone then resualtCategoryChecked" class="resualt"></div>
            <ng-template #resualtCategoryChecked>
                <h3> Oh! Sorry No Resualt</h3>
            </ng-template>
            <ngb-pagination collectionSize=[collectionSize] [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="false"
                [pageSize]="elementPerpage" class="d-flex justify-content-end p-2">
            </ngb-pagination>
        </div>
    </div>