@import "./../../assets/styles/custom-kit/variable.scss";

.container-fluid{
    max-width: 1920px;
    min-height: 800px;
    box-shadow:$box-shadow-sm;
    background-color: $gray-20;
}
.content{
    display: flex;
}
.store-view{
    background-color:$white;
    // flex: 1;
}
.sidebar{
    // max-width: 250px;
    flex: 0 0 18% ;

}
